:root {
  --main: #1AC073;
  --btn: #F3BA00;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* <!-- ------navbar--------- --> */

nav {
  display: flex;
  justify-content: center;
  background-color: var(--main);
  padding: 20px 0px;
}

nav .brand {
  font-family: 'Squada One', cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.012em;
  text-align: left;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  color: white;
}

nav .list li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.012em;
  text-align: left;
}

nav .list {
  margin: 0px 20%;
}

li {
  margin: 0px 10px;
}

nav .list-icon button {
  background: none;
  outline: none;
  border: none;
  margin: 0px 10px;
}

/* <!-- ------navbar--------- --> */
/* <!-- ------landing-section--------- --> */

.landing-section {
  display: flex;
  background-color: var(--main);
  padding: 200px 100px;
  justify-content: center;
  color: white
}

.landing-section-left {
  height: 317px;
  width: 634px;
}

.landing-section-left h1 {
  font-family: Roboto;
  font-size: 70px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
}

.landing-section-left p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.012em;
  text-align: left;
  margin: 20px 0px;
}

.landing-section .landing-section-left .button-group {
  margin: 0px;
  padding: 0px;
  display: flex;
  margin: 20px 0px;
}

.landing-section .landing-section-left .button-group input {
  width: 398px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
}

.landing-section .landing-section-left .button-group button {
  padding: 19px 29px;
  background: #F3BA00;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}

.landing-section .landing-section-left .button-group input::placeholder {
  padding: 0px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #929292;
}

.landing-section-right {}

.landing-section-right img {
  height: 498px;
  width: 481px;
}

/* <!-- ------landing-section--------- --> */
/* <!-- ------kitchen section--------- --> */


.kitchen-section {
  padding: 105px 140px 0px 140px;
}

.kitchen-section h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 80px;
  font-size: 40px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.012em;
  position: relative;
}

.grid {
  text-align: center;
}

.card {
  width: 277px;
  height: 337px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 277px;
  height: 250px;
}

.card-bottom {
  padding: 0px 24px;
  gap: 10px;
  width: 277px;
  height: 87px;
  border: 1px solid rgba(187, 187, 187, 0.25);
  border-top: 0px;
  box-shadow: 1px 1px 1px rgba(187, 187, 187, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.card .card-bottom div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 15px 0px;
  right: 10px;
  width: 246px;
  height: 20px;
}

.card .card-bottom .card-bottom-1 {}

.card .card-bottom .card-bottom-2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.012em;
  color: #1B1C21;
}

.card .card-bottom .card-bottom-2 p .rating {
  background: #F7F8FA;
  border: 5px solid #BEBEBE;
  border-width: 0px 0px;
  border-radius: 4px;
  padding: 4px 4px;
}

.card .card-bottom .card-bottom-2 p .time {
  background: #F7F8FA;
  border: 5px solid #BEBEBE;
  border-width: 0px 4px;
  border-radius: 8px;
  padding: 4px 4px;
}

.card .card-bottom .card-bottom-2 .add {
  background-color: #F3BA00;
  padding: 3px;
  border-radius: 4px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.kitchen-section .card {
  margin: 0px 20px;
  margin-bottom: 30px;
}


/* <!-- ------kitchen section--------- --> */
/* <!-- ------popular section--------- --> */

.popular-section {
  text-align: center;
}

.popular-section h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.012em;
}

.popular-section .button-play {
  border-radius: 100%;
  background-color: #1AC073;
  width: 71.5px;
  height: 71.5px;
  font-size: 44px;
  color: white;
  padding-left: 6px;
  border: none;
  position: relative;
  left: 592px;
  top: 200px;
}

.popular-section .button-pause {
  border-radius: 100%;
  background-color: white;
  width: 71.5px;
  height: 71.5px;
  padding-right: 6px;
  padding-top: 5px;
  border: 1px solid var(--main);
  position: relative;
  right: 592px;
  top: 200px;
}


.popular-section .popular-cards {
  justify-content: center;
  margin: 0px 0px 80px 0px;
  display: flex;
}

.popular-section .popular-cards .card {
  margin: 0px 20px;
}

.popular-section .button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  outline: none;
  border: none;
  width: 210px;
  height: 48px;
  background: #1AC073;
  border-radius: 10px;
}


/* <!-- ------popular section--------- --> */

.video-section {
  text-align: center;
  margin-top: -220px;
}

.video-section .video-section-1 {
  position: relative;
  left: 0px;
  top: 244px;
  padding: 0px 245px;
  z-index: 1;
  align-items: center;
}

.video-section .video-section-1 .video-section-1-text {
  margin: 50px 0px;
}

.video-section .video-section-1 .video-section-1-text h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  padding: 10px 125px;
}

.video-section .video-section-1 .video-section-1-text p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}


.video-section .video-section-1 video {
  height: 442px;
  width: 877px;
  border-radius: 0px;
  border: none;
  align-items: center;
}

.video-section .video-section-1 button {
  border-radius: 100%;
  background-color: #1AC073;
  width: 97.5px;
  height: 97.5px;
  position: absolute;
  font-size: 44px;
  color: white;
  right: 47%;
  top: 60%;
  border: none;
}

.video-section .video-section-2 {
  background-color: #C7EACC;
  height: 344px;
  position: relative;
  z-index: 0;
}

/* <!-- ------video section--------- --> */
/* <!-- ------contact-section--------- --> */

.contact-section {
  display: flex;
  padding: 100px 129px;
  justify-content: center;
  background-color: #F7F8FA;
}

.contact-section-left {
  width: 100%;
  height: 403px;
}

.contact-section-left h1 {
  width: 286px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.012em;
  color: #101115;
}

.contact-section-left p {
  width: 317px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #1B1C21;
  margin-top: 10px;
}

.contact-section .contact-section-left .button-group {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.contact-section .contact-section-left .button-group input {
  width: 300px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(195, 195, 195, 0.25);
  margin: 20px 17px 0px 0px;
}

.contact-section .contact-section-left .button-group textarea {
  width: 617px;
  height: 164px;
  background: #FFFFFF;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(195, 195, 195, 0.25);
  margin: 20px 0px;
}

.contact-section .contact-section-left .button-group button {
  background: var(--main);
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 19px 25px;
  gap: 10px;
  width: 210px;
  height: 58px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}

.contact-section .contact-section-left .button-group input::placeholder {
  padding: 0px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #929292;
}

.contact-section .contact-section-left .button-group textarea::placeholder {
  padding: 20px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #929292;
}

.contact-section-right {}

.contact-section-right img {
  width: 503px;
  height: 402px;
}

/* <!-- ------contact-section--------- --> */
/* <!-- footer section --> */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--main);
  padding: 25px 0px 20px 0px;
}

footer .brand {
  font-family: 'Squada One', cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.012em;
  text-align: left;
  color: white;
}

footer ul {
  list-style: none;
  display: flex;
  color: white;
}

footer .list li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.012em;
  text-align: left;
}

footer .list {
  margin: 0px 20%;
}

footer li {
  margin: 0px 10px;
}

footer .list-icon li {
  color: #929292;
  background-color: white;
  border-radius: 5px;
  width: 27.75px;
  height: 25.5px;
  text-align: center;
  padding-top: 4px;
}

.hr {
  color: white;
  padding: 0px 200px 40px 200px;
  background-color: var(--main);
  outline: none;
}

hr {
  outline: none;
  border: 1px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}


/* <!-- footer section --> */

.popup2 {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  overflow-y: scroll;
}

.popup2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0px;
  position: absolute;
  width: 1336px;
  height: 647px;
  top: 107px;
  background: #F7F8FA;
  border-radius: 20px;
}

.popup2 .container h1 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 20px;
/* identical to box height, or 50% */

letter-spacing: -0.012em;

color: #000000;
}

.popup2 .container form {
  display: flex;
  flex-direction: column;
  margin: 70px 0px;
}

.popup2 .container form label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #474747;
  margin: 10px 0px;
}

.popup2 .container form input {
  padding: 16px;
  width: 1027px;
  height: 48px;
  left: 0.5px;
  top: 22px;
  background: #F2F2F2;
  border-radius: 10px;
  border: none;
  margin-bottom: 40px;
}

.popup2 .button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: var(--main);
  outline: none;
  border: 1px solid var(--main);
  width: 210px;
  padding: 19px 25px;
  height: 58px;
  background: white;
  border-radius: 10px;
  margin: 0px 30px;
}

.popup2 .button2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  outline: none;
  border: none;
  width: 210px;
  padding: 19px 25px;
  height: 58px;
  background: #1AC073;
  border-radius: 10px;
}

/* popup */
.popup {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.popup .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 346px 241px;
  position: absolute;
  width: 1336px;
  height: 1154px;
  top: 117px;
  bottom: 117px;
  background: #F7F8FA;
  border-radius: 20px;
}

.popup h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #000000;
  margin: 80px 0px 0px 0px;
}

.popup p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #AAA7A7;
  margin: 30px 0px 60px 0px;
}

.popup button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  outline: none;
  border: none;
  width: 210px;
  padding: 19px 25px;
  height: 58px;
  background: #1AC073;
  border-radius: 10px;
}

/* popup */